#core{
    max-width: 100%;
}

#core>#source .contents{
    border: 1px solid black;
    width: 300px;
}

#core>#source h1{
    margin: 0 0 0px 0;
}

#core>#source h2{
    margin: 10px 0 10px 0;
    border-bottom: 1px solid black;
}

#core>#source h3{
    margin: 10px 0 10px 0;
}

#core>#source h4{
    margin: 10px 0 10px 0;
}

#core>#source h5{
    margin: 10px 0 10px 0;
}

#core>#source>#author {
    margin-bottom: 10px;
    color: gray;
}

#core>#source a{
    color: rgb(0, 156, 0);
    text-decoration: none;
}

#core>#source a:hover{
    color: rgb(93, 218, 93);
}

#core>#source div.cite{
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0 10px 0;
}

#core>#source div.note {
    padding: 5px 0 0px 0;
    background-color: rgb(200, 200, 224);
    margin: 5px 0 5px 0;
    font-weight: 600;
    color: black
}

#core>#source div.note>div {
    background-color: rgb(153, 153, 206);
    color: rgb(0, 0, 0);
    margin-top: 5px;
    padding: 5px 0 5px 0;
    font-weight: 400;
}

#core>#source div.comment{
    margin-bottom: 3px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    display: none;
    max-width: 100px;
    background-color: #7a7a7a;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 14px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    word-break: keep-all;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    display: block;
    opacity: 1;
  }

@media (prefers-color-scheme: dark) {
    #core>#source .contents{
        border: 1px solid white;
    }

    #core>#source a{
        color: aqua;

    }

    #core>#source a:hover{
        color: rgb(8, 180, 180)
    }

    #core>#source h2{
        border-bottom: 1px solid white;
    }

    #core>#source div.cite{
        border: 1px solid white;
    }
}