#core>#source .contents{
    border: 1px solid black;
    width: 300px;
}

#core>#source h1{
    margin: 0 0 0px 0;
}

#core>#source h2{
    margin: 10px 0 10px 0;
    border-bottom: 1px solid black;
}

#core>#source h3{
    margin: 10px 0 10px 0;
}

#core>#source h4{
    margin: 10px 0 10px 0;
}

#core>#source h5{
    margin: 10px 0 10px 0;
}

#core>#source>#author {
    margin-bottom: 10px;
    color: gray;
}

#core>#source a{
    color: rgb(0, 156, 0);
    text-decoration: none;
}

#core>#source a:hover{
    color: rgb(93, 218, 93);
}

#core>#source div.cite{
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0 10px 0;
}

#core>#source div.note {
    padding: 5px 0 0px 0;
    background-color: rgb(200, 200, 224);
    margin: 5px 0 5px 0;
    font-weight: 600;
    color: black
}

#core>#source div.note>div {
    background-color: rgb(153, 153, 206);
    color: rgb(0, 0, 0);
    margin-top: 5px;
    padding: 5px 0 5px 0;
    font-weight: 400;
}

#core>#source div.comment{
    margin-bottom: 3px;
}

@media (prefers-color-scheme: dark) {
    #core>#source .contents{
        border: 1px solid white;
    }

    #core>#source a{
        color: aqua;

    }

    #core>#source a:hover{
        color: rgb(8, 180, 180)
    }

    #core>#source h2{
        border-bottom: 1px solid white;
    }

    #core>#source div.cite{
        border: 1px solid white;
    }
}